.container{
    /* background-image:'./background.jpg';
    background-size:auto; */
    background-color: white;
    height:50px;
    border-radius: 5px;

}

.jdl{
    margin-top: 30px;
    margin-bottom: -60px;
    color: rgb(255, 0, 0);
    margin-left: 150px;
    
}

.container .isi{
    background-color: white;
}


.kl{
    margin-top: 50px;
 
}

.bua{
 margin-top: 80px;
 margin-left: 350px;
 width: 200px;
}